.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background-color: rgb(33, 166, 238);
  z-index: 5;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.title-section:hover .title,
.title-section:hover .cap {
  color: white;
}

.title {
  font-weight: 400;
  font-size: 2.25rem;
  transition: color 0.7s;
}

.cap {
  font-size: 2.25rem;
  transition: color 0.7s;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.5s, font-size 0.2s;
}

.nav-link:hover,
.nav-link:hover .icon-menu {
  font-size: 1.1rem;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: rgba(233, 233, 233, 0.832);
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.button {
  display: none;
  position: absolute;
  right: 8px;
  cursor: pointer;
  border: none;
  font-size: 1.75rem;
}

@media all and (max-width: 910px) {
  .menu-container {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    inset: 0 30% 0 0;
    backdrop-filter: blur(32px);
    transform: translateX(-70vw);
    transition: 0.7s;
  }

  .menu-close {
    transform: none;
  }

  .button {
    display: initial;
  }

  .title,
  .cap {
    font-size: 1.75rem;
  }
}