.submit-btn:before {
  border-radius: 1.5vh;
}

.submit-btn:after {
  border-radius: 1.2vh;
}

.submit-btn:before {
  background-image: linear-gradient(45deg, #00ffa6 0, #0059ff 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.submit-btn:after {
  background-color: black;
  bottom: 0.4vh;
  content: "";
  display: block;
  left: 0.4vh;
  overflow: hidden;
  position: absolute;
  right: 0.4vh;
  top: 0.4vh;
  transition: all 0.3s ease-out;
  z-index: -1;
}

.submit-btn:hover:not(:disabled):before {
  background: linear-gradient(
    225deg,
    rgb(38, 255, 125) 0%,
    rgb(0, 217, 255) 100%
  );
}

.submit-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}