.elemento-modal {
  width: 70vw;
  height: 85vh;
  overflow: auto;
  padding: 15px;

}
.elemento-modal-PP {
  width: 70vw;
  height: 80vh;
  overflow: auto;
  padding: 15px;
}
.elemento-modal button {
  outline: none;
  background-color: transparent;
  border: #000000 3px solid;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
.elemento-modal-PP button {
  outline: none;
  background-color: transparent;
  border: #000000 3px solid;
  padding: 5px;
  border-radius: 3px;
}
.texto-modal {
  justify-content: center;
  text-align: justify;
}
.título-modal-contenedor {
  height: auto;
  width: 100%;
}
.título-modal {
  font-size: 60px;
  font-weight: 400;
  position: sticky;
  top: 0;
}
.disclaimer {
  font-weight: bolder;
}
.modal-parrafo {
  margin-bottom: 1rem;
}
.date-modal {
  font-style: italic;
  font-size: larger;
}
