.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  padding: 0rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  align-items: center;
  z-index: 999;
  position: fixed;
}

.navbar {
  background: linear-gradient(180deg, #0088ff, #0088ff, #0088ff, #0088ff, #0088fff6, #0088ffef, #0088ffe6, #0088ffd4, #0088ffbf, #0088ffaa);
}

.navbar-title {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  color: black;
  padding-left: 8px;
  overflow: hidden;
  transition: color 0.3s ease-in 0ms;
}

.ceop-title {
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5vw;
  font-weight: 500;
  user-select: none;
}

.business-title {
  background-color: transparent;
  font-size: 2.3vw;
  user-select: none;
}

.fa-graduation-cap {
  background-color: transparent;
  font-size: 2.4vw;
  overflow-y: hidden;
  user-select: none;
}

.navbar-title:hover {
  color: white;
}

.fa-bars,
.fa-x {
  background-color: transparent;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  font-size: 37.5px;
}

.nav-item-container {
  background-color: transparent;
  display: flex;
  height: 100%;

  top: 0;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  background-color: transparent;
  font-size: 1.1vw;
  margin-right: 2vw;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.nav-links {
  text-decoration: none;
  background-color: transparent;
  color: rgb(27, 27, 27);
  position: relative;
  transition: color 0.5s ease 0.1s;
  overflow-x: hidden;
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 2.5%;
  width: 0%;
  height: 3.5px;
  background-color: rgba(233, 233, 233, 0.832);
  transition: width 0.5s ease;
}

.nav-item:hover {
  .nav-links {
    color: white;
  }
}

.nav-item:hover::after {
  width: 95%;
}

.nav-recursos {
  margin-right: 1.5vw;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) and (orientation:portrait) {
  .ceop-title {
    background-color: transparent;
    font-weight: 400;
    font-size: 40px;
    font-weight: 500;
    user-select: none;
  }

  .business-title {
    background-color: transparent;
    font-size: 35px;
    user-select: none;
  }

  .fa-graduation-cap {
    background-color: transparent;
    font-size: 37.5px;
    overflow-y: hidden;
    user-select: none;
  }

  .nav-btn {
    display: flex;
  }

  .navbar {
    height: 6vmax;
    /*chrome-vmax: vertical:10vh  ^   horizontal:10vw*/
    align-items: center;
  }

  .nav-item-container {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    background-color: #51aefff2;
    transition: 0.7s;
    transform: translateX(-70vw);
  }

  .responsive_ul {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 3vw;
    transform: translate(-0%, -0%);
    height: auto;
  }

  .nav-item {
    font-size: 1.5rem
  }

}

