.navbar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  width: 100vw;
  padding: 0rem;
  color: var(--textColor);
  align-items: center;
  z-index: 999;
  position: fixed;


  background: linear-gradient(
    180deg,
    rgb(0, 136, 255),
    rgba(1, 137, 255, 1),
    rgba(2, 138, 255, 0.99),
    rgba(3, 139, 255, 0.99),
    rgba(4, 140, 255, 0.99),
    rgba(5, 141, 255, 0.99),
    rgba(6, 142, 255, 0.99),
    rgba(7, 143, 255, 0.99),
    rgba(8, 144, 255, 0.99),
    rgba(9, 145, 255, 0.99),
    rgba(10, 146, 255, 0.99),
    rgba(11, 147, 255, 0.99),
    rgba(12, 148, 255, 0.99),
    rgba(13, 149, 255, 0.99),
    rgba(14, 150, 255, 0.99),
    rgba(15, 151, 255, 0.99),
    rgba(16, 152, 255, 0.99),
    rgba(17, 153, 255, 0.99),
    rgba(18, 154, 255, 0.99),
    rgba(19, 155, 255, 0.98),
    rgba(20, 156, 255, 0.97),
    rgba(21, 157, 255, 0.96),
    rgba(22, 158, 255, 0.97),
    rgba(23, 159, 255, 0.96),
    rgba(24, 160, 255, 0.95),
    rgba(25, 161, 255, 0.94),
    rgba(26, 162, 255, 0.93),
    rgba(27, 163, 255, 0.92),
    rgba(28, 164, 255, 0.91),
    rgba(29, 165, 255, 0.9),
    rgba(30, 166, 255, 0.89),
    rgba(31, 167, 255, 0.88),
    rgba(32, 168, 255, 0.87),
    rgba(33, 169, 255, 0.86),
    rgba(34, 170, 255, 0.85),
    rgba(35, 171, 255, 0.84),
    rgba(36, 172, 255, 0.83),
    rgba(37, 173, 255, 0.82),
    rgba(38, 174, 255, 0.81),
    rgba(39, 175, 255, 0.8),
    rgba(40, 176, 255, 0.8),
    rgba(41, 177, 255, 0.8),
    rgba(42, 178, 255, 0.8),
    rgba(43, 179, 255, 0.8),
    rgba(44, 180, 255, 0.8),
    rgba(45, 181, 255, 0.8),
    rgba(46, 182, 255, 0.8),
    rgba(47, 183, 255, 0.8),
    rgba(48, 184, 255, 0.8),
    rgba(49, 185, 255, 0.8),
    rgba(50, 186, 255, 0.8),
    rgba(51, 187, 255, 0.8),
    rgba(52, 186, 255, 0.8),
    rgba(53, 187, 255, 0.8)
  );
}

@keyframes blur-navbar {
  to {
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.24);
  }
}

.navbar-title {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  align-items: center;
  color: black;
  padding-left: 8px;
  overflow: hidden;
  transition: color 0.3s ease-in 0ms;
  outline: none;
}

.ceop-title,
.business-title,
.fa-graduation-cap {
  outline: none;
}

.ceop-title {
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5vw;
  font-weight: 500;
  user-select: none;
}

.business-title {
  background-color: transparent;
  font-size: 2.3vw;
  user-select: none;
}

.fa-graduation-cap {
  background-color: transparent;
  font-size: 2.4vw;
  overflow-y: hidden;
  user-select: none;
}

.icon-menu {
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 1.05vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: font-size 0.3s ease 0s;
}

.navbar-title:hover {
  color: white;
}

.fa-bars,
.fa-x {
  background-color: transparent;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  font-size: 37.5px;
}

.nav-item-container {
  background-color: transparent;
  display: flex;
  height: 100%;
  z-index: 99999;
  top: 0;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  background-color: transparent;
  font-size: 1.1vw;
  margin-right: 2vw;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  transition: font-size 0.3s ease 0s;
}

.nav-links {
  text-decoration: none;
  background-color: transparent;
  color: rgb(27, 27, 27);
  position: relative;
  transition: color 0.5s ease 0.1s;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  outline: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 2.5%;
  width: 0%;
  height: 3.5px;
  background-color: rgba(233, 233, 233, 0.832);
  transition: width 0.5s ease;
}

.nav-item:hover::after {
  width: 95%;
}

.nav-item:hover .nav-links {
  color: white;
}

.nav-item:hover,
.icon-menu:hover .icon-menu {
  font-size: 1.15vw;
}

.nav-recursos {
  margin-right: 1.5vw;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .ceop-title {
    background-color: transparent;
    font-weight: 400;
    font-size: 3.8vh;
    font-weight: 500;
    user-select: none;
  }

  .business-title {
    background-color: transparent;
    font-size: 3.2vh;
    user-select: none;
  }

  .fa-graduation-cap {
    background-color: transparent;
    font-size: 3.5vh;
    overflow-y: hidden;
    user-select: none;
  }

  .fa-bars,
  .fa-x {
    font-size: 3.6vh;
  }

  .nav-btn {
    display: flex;
  }

  .navbar {
    height: 6vmax;
    /*chrome-vmax: vertical:10vh  ^   horizontal:10vw*/
    align-items: center;
  }

  .nav-item-container {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    background-color: #51aeff97;
    backdrop-filter: blur(10px);
    transition: 0.7s;
    transform: translateX(-70vw);
  }

  .responsive_ul {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 3vw;
    transform: translate(-0%, -0%);
    height: auto;
  }

  .nav-item {
    font-size: 1.5rem;
  }

  .icon-menu {
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 20px;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}
