.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  align-items: center;
  z-index: 999;

}


.navbar-title {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  align-items: baseline;
  color: black;
  padding-left: 10px;
}

.ceop-title {
  background-color: transparent;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 500;
}
.navbar-title:hover {
  color: white;
}

.business-title {
  background-color: transparent;
  font-size: 2.5rem;
}

.fa-graduation-cap {
  background-color: transparent;
  font-size: 2.4rem;
}

.fa-x {
  background-color: transparent;
}

.fa-bars {
  background-color: transparent;
}

.nav-item-container {
  background-color: transparent;
  display: flex;
  width: 100vh;
  justify-content: flex-end;
  margin-left: auto;
  position: relative;
  top: 3px;
}

.nav-item {
  list-style-type: none;
  background-color: transparent;
  font-size: 20px;
  margin-right: 2vw;
}

.nav-recursos {
  margin-right: 1.5vw;
}

.nav-links {
  text-decoration: none;
  background-color: transparent;
  color: rgb(27, 27, 27);
  position: relative;
}
.nav-links::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s ease;
}
.nav-links:hover::before {
  width: 100%;
  color: var(--secondaryColor);
}

.nav-links:hover {
  color: var(--secondaryColor);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    display: block;
  }

  .nav-item-container {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    background-color: #51aefff2;
    transition: 0.7s;
    transform: translateX(-70vw);
  }

  .responsive_ul {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 19px;
    right: 1rem;
  }

   .nav-item {
    font-size: 1.5rem
   }

}