.video-ceop-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: transparent;
}
.video-container {
    width: 70vw;
    height: 40.5vw;
    border: 4px solid rgb(194, 194, 194);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}