.nosotros-section {
  user-select: none;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
}

.nosotros-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/nosotros-cards/background.png");
  background-size: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  transform: rotate(4deg);
  opacity: 0.4;
  z-index: 0;
  transition: all 0.5s ease 0s;
}

.nosotros-section.hovered::before {
  opacity: 0.8;
}

.nosotros-title-container {
  height: 20vh;
  display: flex;
  width: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.nosotros-title-lato {
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 3.3vmax;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

.nosotros-title-lato::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: calc((100% - 35%) / 2);
  width: 35%;
  height: 3px;
  background-color: #2d2d2d;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.nosotros-title-lato:hover::before {
  width: 100%;
  left: calc((100% - 100%) / 2);
}

.nosotros-title-lato.hovered::before {
  width: 65%;
  left: calc((100% - 65%) / 2);
  height: 3px;
}

.nosotros-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0px;
  height: 500px;
  overflow: hidden;
  background-color: transparent;
}

.nosotros-texto-container {
  position: relative;
  height: 225px;
  width: 425px;
  margin: 0 2vw;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  transition: height 0.3s ease, transform 0.3s linear;
  border-radius: 3vh;
  cursor: pointer;
}

.nosotros-texto-container:hover {
  border-radius: 3vh;
  height: 275px;
  transform: scale(1.1);
}

.gappy1,
.gappy2 {
  background-color: rgb(130, 130, 130);
  border-radius: 10px;
  width: 3px;
  overflow: hidden;
  height: 25%;
  transition: all 0.3s ease 0s;
}

.gappy1.hoveredGappy1 {
  background-color: rgb(90, 90, 90);
  height: 35%;
}

.gappy2.hoveredGappy2 {
  background-color: rgb(90, 90, 90);
  height: 35%;
}

.uno {
  background-image: url("../../Images/nosotros-cards/card1.png");
  background-position: center;
  background-size: cover;
}

.uno::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000039;
  backdrop-filter: blur(0.5px);
  filter: saturate(1.25) contrast(1.1) brightness(1.1);
  opacity: 1;
  content: "";
  z-index: 0;
}
.uno:hover::before {
  background-color: #00000005;
  backdrop-filter: blur(7px);
}
.uno:hover {
  background-image: url("../../Images/nosotros-cards/cover1.png");
  background-position: center;
  background-size: cover;
}
.uno:hover {
  .nosotros-title-lato {
    color: red;
  }
}

.dos {
  background-image: url("../../Images/nosotros-cards/card2.png");
  background-position: center;
  background-size: cover;
}
.dos::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000061;
  backdrop-filter: blur(0.5px);
  filter: saturate(2) contrast(1.1) brightness(1.1);
  opacity: 1;
  content: "";
  z-index: 0;
}
.dos:hover::before {
  background-color: #00000057;
  backdrop-filter: blur(5px);
  opacity: 1;
}
.dos:hover {
  background-image: url("../../Images/nosotros-cards/cover2.png");
  background-position: center;
  background-size: cover;
}

.tres {
  background-image: url("../../Images/nosotros-cards/card3.png");
  background-position: center;
  background-size: cover;
}
.tres::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000005b;
  backdrop-filter: blur(0.5px);
  filter: saturate(2) contrast(1.1) brightness(1.1);
  opacity: 1;
  content: "";
  z-index: 0;
}
.tres:hover::before {
  background-color: #17170040;
  backdrop-filter: blur(5px);
  opacity: 1;
}
.tres:hover {
  background-image: url("../../Images/nosotros-cards/cover3.png");
  background-position: center;
  background-size: cover;
}
.first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease;
  overflow: hidden;
}
.nosotros-card-title {
  background-color: transparent;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-size: 2.9vmax;
  overflow: hidden;
  font-weight: 600;
  z-index: 1;
  color: white;
}
.ver-más-texto {
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  z-index: 1;
}

.ver-más-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px 23px;
  background-color: transparent;
  border: 2px solid white;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.nosotros-texto-container:hover .first-content {
  height: 0px;
  opacity: 0;
}
.second-content {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
  background-color: transparent;
}

.nosotros-texto {
  font-weight: 600;
  text-align: center;
  width: 90%;
  height: auto;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: transparent;
  color: white;
  padding: 30px 5px;
  border-radius: 5px;
  border: 3px solid white;
}
.nosotros-texto-container:hover .second-content {
  transform: rotate(0deg);
  opacity: 1;
  height: 100%;
}

@media only screen and (max-width: 1300px) and (orientation: portrait) {
  .nosotros-title-lato {
    font-size: 4.5vh;
  }

  .gappy1,
  .gappy2 {
    display: none;
  }

  .nosotros-cards-container {
    height: 150vh;
  }

  .nosotros-texto-container {
    width: 90vw;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .nosotros-card-title {
    background-color: rgba(0, 255, 255, 0.344);
    border-radius: 10px;
    padding: 4vh;
  }

  .nosotros-texto {
    width: 70vw;
    font-size: 2vh;
    padding: 2vh 4vw;
    width: 90%;
  }
}
