@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'swiper/swiper-bundle.min.css';

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  background-color: rgb(252, 252, 252);
  overflow-x: auto;
  scrollbar-width: thin; /* Barra de desplazamiento delgada */
  scrollbar-color: grey transparent; /* Color del 'thumb' y del área de fondo */
}

:root {
  --mainColor: #0083f6;
  --mainColorLight: #8dcaff;
  --secondaryColor: #fff;
  --textColor: #eee;
}
/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Color de la parte que se arrastra */
  border-radius: 4px; /* Bordes redondeados para el 'thumb' */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color del área de fondo de la barra de desplazamiento */
}

/* Oculta las flechas de desplazamiento */
::-webkit-scrollbar-button {
  display: none; /* Oculta las flechas */
}
/* Oculta las flechas de desplazamiento en Firefox (no hay una propiedad específica, pero puedes ajustar el diseño) */
